.row {
  display: flex;
  justify-content: center;
}

.dropdown {
  flex-direction: column;
}

.table {
  border: 1px grey solid;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.modal {
  position: fixed; /* Ensures the modal stays centered */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  width: 400px; /* Set a width */
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.1rem;
}

.hidden {
  display: none;
}

.modal-textarea {
  height: 10rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.cancel-modal {
  color: white;
  background-color: darkgrey;
  border-radius: 4px;
  padding: 5px;
}

.confirm-modal {
  color: white;
  background-color: rgb(25, 135, 85);
  border-radius: 4px;
}

table {
  width: 100%;
}

thead {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

.delete-actions {
  background-color: rgb(200, 48, 62);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.edit-actions {
  background-color: rgb(38, 110, 254);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.table-buttons {
  display: flex;
  justify-content: space-around;
  border: 1px black;
}
